<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User page</title>
    <link rel="stylesheet" href="/static/css/users.css" />
</head>

<body>
    <div id="head">
        <p class="title">Contacts</p> <a class="logout" href="/user/logout">Logout</a>
    </div>
    <ul></ul>
    <script src="/static/js/users.js"></script>
</body>

</html>